html {
  font-size: 62.5%; 
  /* Make 1rem = 10px assuming default user agent font size of 16px. */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* NEVER use !important. This is only to override our Pop-up notifications dynamic styling properties. */
#client-snackbar {
  font-size: 1.45rem !important;
}
